# ============================================================
# Nombre:    Elian Desiderio Feliz Martinez
# Matricula: 24-EISN-2-041
# Archivo:   requirements.txt
# ============================================================

torch
torchvision
numpy